
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

#tasklist::-webkit-scrollbar{
    display: none;
}
#alltask::-webkit-scrollbar{
    display: none;
}
